@model ForAnimalsApplication.Models.PhotoReview
@{
    ViewBag.Title = "Editeaza recenzia";
}

@using (Html.BeginForm(actionName: "Details", controllerName: "PhotoCompetitor", method: FormMethod.Get, routeValues: new { id = Model.PhotoCompetitorId }))
{
    <button style="margin-bottom:10px" class="buttonBack" type="submit"><img style="width:20px; height:20px;" src="~/Content/Image/544-5440422_back-arrow-icon-transparent-png-clipart-free-download.png" />Inapoi</button>
}

<div style="margin-left:35%">
    <img src="~/Content/Image/Gatito-En-Png.png" />

    <p style="font-size:35px; font-weight: bold;">@ViewBag.Title</p>


    @using (Html.BeginForm("Edit", "PhotoReview", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        @Html.HiddenFor(a => a.PhotoCompetitorId)
        <br />
        <br />
        @Html.Label("Text", "Comentariu: ")
        <br />
        @Html.TextAreaFor(a => a.Text, 10, 100, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(a => a.Text, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Note", "Nota:")
        <br />
        @Html.DropDownListFor(c => c.Note, new SelectList(Model.NoteList, "Value", "Text"), "Alege o nota", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Note, "", new { @class = "text-danger" })
        <br />

        <button class="btn btn-primary" type="submit">Actualizeaza</button>
    }
</div>
