@model ForAnimalsApplication.Models.Competition
@{
    ViewBag.Title = "Details";
    var emptySummaryMsgVar = "This animal has no details";
}

<h2>@Model.CompetitionName</h2>
<img src="@Url.Content(Model.ImagePath)" alt="Sample Image" width="250" height="250" />
<br />

@Html.Label("Descrition", "Description: ")
<br />
<div class="panel-body">
    @if (Model.Description.IsEmpty())
    {
        <p>@emptySummaryMsgVar</p>

    }
    else
    {
        @Html.DisplayFor(b => b.Description)
    }
</div>

<br />
@if (Model.EndDate < DateTime.Now)
{
    <p>Competitia s-a incheiat</p>
}
else
{
    if (Model.CompetitionType.Name == "Photo")
    {
        using (Html.BeginForm(actionName: "New", controllerName: "PhotoCompetitor", method: FormMethod.Get, routeValues: new { id = Model.CompetitionId }))
        {
            <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">New PathCompetitor</button>
        }
    }
    else
    {

        using (Html.BeginForm(actionName: "New", controllerName: "VideoCompetitor", method: FormMethod.Get, routeValues: new { id = Model.CompetitionId }))
        {
            <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">New VideoCompetitor</button>
        }
    }
}

@using (Html.BeginForm(actionName: "AboutOneCompetition", controllerName: "Statistics", method: FormMethod.Get, routeValues: new { id = Model.CompetitionId }))
{
        <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Statistici</button>
    }
@using (Html.BeginForm(actionName: "Index", controllerName: "Animal", method: FormMethod.Get))
    {
        <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Back</button>
    }


@if (Model.CompetitionType.Name == "Photo")
{
    foreach (var competitor in ViewBag.PhotoCompetitors)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Label("Name", "Name: ")
                <br />
                <p>@competitor.Name</p>
                <br />
                <p>Username: @competitor.ApplicationUser.UserName</p>
                <br />
                @Html.Label("ImagePath", "ImagePath: ")
                <img src="@Url.Content(competitor.ImagePath)" alt="Sample Image" width="250" height="250" />
                <br />

                @Html.Label("Description", "Description: ")
                <br />
                <p>@competitor.Description</p>
                @using (Html.BeginForm(actionName: "Details", controllerName: "PhotoCompetitor", method: FormMethod.Get, routeValues: new { id = competitor.PhotoCompetitorId }))
                {
                    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Details</button>
                }
                @using (Html.BeginForm(actionName: "Edit", controllerName: "PhotoCompetitor", method: FormMethod.Get, routeValues: new { id = competitor.PhotoCompetitorId }))
                {
                    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Edit</button>
                }

            </div>
        </div>
    }
}
else
{
    foreach (var competitor in ViewBag.VideoCompetitors)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Label("Name", "Name: ")
                <br />
                <p>@competitor.Name</p>
                <br />
                <p>Username: @competitor.ApplicationUser.UserName</p>
                <br />
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="title">@competitor.Vname</div>
                    <div class="video-frame">
                        <video style="width:100%; height:auto;" controls>
                            <source src="@Url.Content(@competitor.Vpath)" type="video/mp4" />
                        </video>
                    </div>
                </div>
                @Html.Label("Description", "Description: ")
                <br />
                <p>@competitor.Description</p>
                @using (Html.BeginForm(actionName: "Details", controllerName: "VideoCompetitor", method: FormMethod.Get, routeValues: new { id = competitor.VideoCompetitorId }))
                {
                    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Details</button>
                }
                @using (Html.BeginForm(actionName: "Edit", controllerName: "VideoCompetitor", method: FormMethod.Get, routeValues: new { id = competitor.VideoCompetitorId }))
                {
                    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Edit</button>
                }

            </div>
        </div>
    }
}