@model ForAnimalsApplication.Models.VideoCompetitor
@{
    ViewBag.Title = "Edit VideoCompetitor";
}

@using (Html.BeginForm(actionName: "Details", controllerName: "Competition", method: FormMethod.Get, routeValues: new { id = Model.CompetitionId }))
{
    <button style="margin-bottom:10px" class="buttonBack" type="submit"><img style="width:20px; height:20px;" src="~/Content/Image/544-5440422_back-arrow-icon-transparent-png-clipart-free-download.png" />Inapoi</button>
}
<div class="editCompBackground">

    <p style="font-size:35px; font-weight: bold; margin-top:100px;" align="center">Editeaza competitor</p>
    <div style="margin-left:37%">
        @using (Html.BeginForm("Edit", "VideoCompetitor", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)

            @Html.HiddenFor(a => a.VideoCompetitorId)
            @Html.HiddenFor(a => a.CompetitionId)

            @Html.Label("Name", "Nume competitor: ")
            <br />
            @Html.EditorFor(a => a.Name, new { htmlAttributes = new { @calss = "form-control" } })
            @Html.ValidationMessageFor(a => a.Name, "", new { @class = "text-danger" })
            <br />
            <br />
            @Html.Label("MicrochipNumber", "Numar microcip: ")
            <br />
            @Html.EditorFor(a => a.MicrochipNumber, new { htmlAttributes = new { @calss = "form-control" } })
            @Html.ValidationMessageFor(a => a.MicrochipNumber, "", new { @class = "text-danger" })
            <br />
            @Html.Label("Age", "Varsta animal:")
            <br />
            @Html.DropDownListFor(a => a.Age, new SelectList(Model.AgeList, "Value", "Text"), "Alege varsta competitorului", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Age, "", new { @class = "text-danger" })
            <br />

            @Html.Label("Gender", "Sex animal:")
            <br />
            @Html.DropDownListFor(a => a.Gender, new SelectList(Model.GenderList, "Value", "Text"), "Alege sexul competitorului", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Gender, "", new { @class = "text-danger" })
            <br />
            <br />
            @Html.Label("Description", "Descriere: ")
            <br />
            @Html.TextAreaFor(a => a.Description, 10, 100, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.Description, "", new { @class = "text-danger" })
            <br />
            <br />
            <div class="form-group">
                <label> Upload Video files: </label>
                <div class="input-group">
                    @Html.TextBox("VideoFile", "", new { type = "file" }) <br />
                </div>
            </div>
            <br />

            <button class="btn btn-primary" type="submit">Actualizeaza competitor</button>
        }
    </div>
</div>
