@model ForAnimalsApplication.Models.VideoCompetitor
@{
    ViewBag.Title = "Edit VideoCompetitor";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "VideoCompetitor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(a => a.VideoCompetitorId)
    <br />
    <br />

    @Html.Label("Name", "Nume competitor: ")
    <br />
    @Html.EditorFor(a => a.Name, new { htmlAttributes = new { @calss = "form-control" } })
    @Html.ValidationMessageFor(a => a.Name, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("MicrochipNumber", "Numar microcip: ")
    <br />
    @Html.EditorFor(a => a.MicrochipNumber, new { htmlAttributes = new { @calss = "form-control" } })
    @Html.ValidationMessageFor(a => a.MicrochipNumber, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Age", "Varsta animal :")
    <br />
    @Html.DropDownListFor(a => a.Age, new SelectList(Model.AgeList, "Value", "Text"), "Alege varsta", new { @class = "form-control" })
    @Html.ValidationMessageFor(a => a.Age, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Gender", "Gen animal :")
    <br />
    @Html.DropDownListFor(a => a.Gender, new SelectList(Model.GenderList, "Value", "Text"), "Alege varsta", new { @class = "form-control" })
    @Html.ValidationMessageFor(a => a.Gender, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Description", "Description: ")
    <br />
    @Html.TextAreaFor(a => a.Description, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(a => a.Description, "", new { @class = "text-danger" })
    <br />
    <br />
    <div class="form-group">
        <label> Upload Video files: </label>
        <div class="input-group">
            @Html.TextBox("VideoFile", "", new { type = "file"}) <br />
        </div>
    </div>
    <br />

    <button class="btn btn-primary" type="submit">Update</button>
}

