@model ForAnimalsApplication.Models.VideoCompetitor
@{
    ViewBag.Title = "New PhotoCompetitor";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("New", "VideoCompetitor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.CompetitionId)
    @Html.HiddenFor(a => a.VideoCompetitorId)

    @Html.Label("Name", "AnimalName: ")
    <br />
    @Html.TextBoxFor(a => a.Name, null, new
    {
        placeholder = "Type in the animal's name",
        @class = "form-control"
    })

    @Html.ValidationMessageFor(a => a.Name, "", new { @class = "text-danger" })
    <br />
    @Html.Label("MicrochipNumber", "Numar Microcip: ")
    <br />
    @Html.TextBoxFor(a => a.MicrochipNumber, null, new
    {
        placeholder = "Type in the animal's microcip",
        @class = "form-control"
    })

    @Html.ValidationMessageFor(a => a.MicrochipNumber, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Age", "Varsta animal :")
    <br />
    @Html.DropDownListFor(c => c.Age, new SelectList(Model.AgeList, "Value", "Text"), "Alege varsta", new { @class = "form-control" })
    @Html.ValidationMessageFor(c => c.Age, "", new { @class = "text-danger" })
    <br />
    
    @Html.Label("Gender", "Gen animal :")
    <br />
    @Html.DropDownListFor(c => c.Gender, new SelectList(Model.GenderList, "Value", "Text"), "Alege genul", new { @class = "form-control" })
    @Html.ValidationMessageFor(c => c.Gender, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Description", "Description: ")
    <br />
    @Html.TextArea("Description", null, new
    {
        placeholder = "Type in the competitor's description",
        @class = "form-control",
        @rows = "10"
    })

    @Html.ValidationMessageFor(a => a.Description, "", new { @class = "text-danger" })
    <br />
    <br />
    <div class="form-group">
        <label> Upload Video files: </label>
        <div class="input-group">
            @Html.TextBox("VideoFile", "", new { type = "file" }) <br />
            <input type="submit" value="Upload Video File" />
        </div>
    </div>
    <br />


    <button class="btn btn-primary" type="submit">Create</button>
}


