@model ForAnimalsApplication.Models.UserViewModel

@{
    ViewData["Title"] = "AddUserToRole";
}
<h1 class="text-center" style="font-weight:bold;">Schimbarea rolului unui cont</h1>
@Html.Partial("_TopMenuPartial")


<div class="container" align="center" style="margin-top:7%">
    <div class="row">
        <div class="col-6 offset-3">
            @using (Html.BeginForm(actionName: "AddUserToRole", controllerName: "Users", method: FormMethod.Post))
            {
                <label>Selectati contul</label>
                @Html.DropDownListFor(a => a.UserId, new SelectList(ViewBag.Users, "Value", "Text"), "Alegeti contul", new { @class = "form-control", required="required" })
                @Html.ValidationMessageFor(a => a.UserId, "", new { @class = "text-danger" })

                <br />
                <br />
                <label>Selectati rolul</label>
                @Html.DropDownListFor(a => a.RoleName, new SelectList(ViewBag.Roles, "Value", "Text"), "Alegeti rolul", new { @class = "form-control", required="required" })
                @Html.ValidationMessageFor(a => a.RoleName, "", new { @class = "text-danger" })
                <br />
                <br />
                <button class="btn btn-primary" type="submit">Asigneaza</button>
                

            }
        </div>
    </div>
</div>
