@model ForAnimalsApplication.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Informatii cont: <b>@Model.UserName</b></h2>
@Html.Partial("_TopMenuPartial")


<div class="container" style="margin-top:7%; margin-left:20%; font-size:15px;">
    <div class="row">
        <div class="col-md-6">
            <label>Prenume:</label>
            <p>@Model.FirstName</p>
        </div>
        <div class="col-md-6">
            <label>Nume:</label>
            <p>@Model.LastName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Email:</label>
            <p>@Model.Email</p>
        </div>
        <div class="col-md-6">
            <label>Telefon:</label>
            <p>@Model.PhoneNumber</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Adresa:</label>
            <p>@Model.Address</p>
        </div>
        <div class="col-md-6">
            <label>Rol:</label>
            <p>@ViewBag.UserRole</p>

        </div>
    </div>
</div>
     

