@model ForAnimalsApplication.Models.VideoReview
@{
    ViewBag.Title = "Adauga Recenzie";
}
@using (Html.BeginForm(actionName: "Details", controllerName: "VideoCompetitor", method: FormMethod.Get, routeValues: new { id = Model.VideoCompetitorId }))
{
    <button style="margin-bottom:10px" class="buttonBack" type="submit"><img style="width:20px; height:20px;" src="~/Content/Image/544-5440422_back-arrow-icon-transparent-png-clipart-free-download.png" />Inapoi</button>
}
<img src="~/Content/Image/Nu stiu3.jpg" />

<div style="margin-left:35%">
    <p style="font-size:35px; font-weight: bold;">@ViewBag.Title</p>
    @using (Html.BeginForm(actionName: "New", controllerName: "VideoReview", method: FormMethod.Post))
    {
        @Html.HiddenFor(a => a.VideoCompetitorId)
        @Html.HiddenFor(a => a.VideoReviewId)

        @Html.Label("Text", "Comentariu:")
        <br />
        @Html.TextArea("Text", null, new { placeholder = "Introduceti un comentariu", @class = "form-control", @rows = "10" })
        @Html.ValidationMessageFor(b => b.Text, "", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Label("Note", "Nota:")
        <br />
        @Html.DropDownListFor(c => c.Note, new SelectList(Model.NoteList, "Value", "Text"), "Alegeti o nota", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Note, "", new { @class = "text-danger" })
        <br />
        <br />

        <button class="btn btn-primary col-lg-3" type="submit">Adauga recenzie</button>
        <br />
    }
</div>
