@model ForAnimalsApplication.Models.PhotoCompetitor
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Details PhotoCompetitor";
    var emptySummaryMsgVar = "Acest competitor nu are descriere!";
}
@using (Html.BeginForm(actionName: "Details", controllerName: "Competition", method: FormMethod.Get, routeValues: new { id = Model.CompetitionId }))
{
    <button style="margin-bottom:10px; margin-left:10px;" class="buttonBack" type="submit"><img style="width:20px; height:20px;" src="~/Content/Image/544-5440422_back-arrow-icon-transparent-png-clipart-free-download.png" />Inapoi</button>
}


@*@if (ViewBag.Message != null)
    {
        <div class="container">
            <div class="alert alert-danger" style="margin-top:50px; text-align:center;">@ViewBag.Message</div>
        </div>
    }*@

@if (ViewBag.MessageOwner != null)
{
    <div class="container">
        <div class="alert alert-success" style="margin-top:50px; text-align:center;">@ViewBag.MessageOwner</div>
    </div>
}
<div class="container">
    <div class="panel panel-default" style="margin-top:50px">
        <div class="panel-body">
            <h2 align="center" style="font-weight: bold; background:#29293d ; color:white;">@Model.Name</h2>
            <div class="grid-container">
                <div class="grid-item-details-competitor">
                    @Html.Label("Age", "Varsta competitor:")
                    <p>@Model.Age</p>
                    @Html.Label("Gender", "Sex competitor:")
                    <p>@Model.Gender</p>

                    @Html.Label("Descrition", "Descriere: ")
                    <br />

                    @if (Model.Description.IsEmpty())
                    {
                        <p>@emptySummaryMsgVar</p>

                    }
                    else
                    {
                        <p>@Model.Description</p>
                    }

                    @Html.Label("Username stapan:")
                    <p>@Model.ApplicationUser.UserName</p>
                </div>
                <div class="grid-item-details-competitor">
                    <img src="@Url.Content(Model.ImagePath)" alt="Sample Image" width="350" height="300" align="right" />
                </div>
            </div>
            @if (Model.Competition.EndDate < DateTime.Now)
            {
                <p style="color:orange"> Competitia s-a incheiat! Nu mai putei sa oferiti recenzii!</p>
            }
            else if (ViewBag.ReviewdOrOwner == false && User.IsInRole("User"))
            {
                using (Html.BeginForm(actionName: "New", controllerName: "PhotoReview", method: FormMethod.Get, routeValues: new { id = Model.PhotoCompetitorId }))
                {
                    <button style="margin-bottom:5px;" class="button2" type="submit">
                        Recenzie noua
                        <img class="plusImg" src="~/Content/Image/icon-plus.png" />
                    </button>}
            }
            @if (User.IsInRole("Block"))
            {
                <p style="color:red">Ati fost blocat de administrator!</p>
            }


            @using (Html.BeginForm(actionName: "AboutCompetitorP", controllerName: "Statistics", method: FormMethod.Get, routeValues: new { id  = Model.PhotoCompetitorId}))
            {

                <button style="float:right; border-radius:12px; height:40px;" class="button3" type="submit">
                    Statistici competitor
                    <img class="statisticsImg" src="~/Content/Image/STATISTICS.png" />
                </button>
            }
            <br />
            @if (User.IsInRole("Jury"))
            {
                using (Html.BeginForm(actionName: "GiveJuryNote", controllerName: "PhotoCompetitor", method: FormMethod.Get, routeValues: new { id = Model.PhotoCompetitorId }))
                {
                    <button style="margin-left:37%" class="btn btn-warning col-lg-3" type="submit">NotaJuriu</button>
                }
            }
        </div>
    </div>
</div>
<div class="container">
    @if (ViewBag.PhotoReviews != null)
    {
        foreach (var review in ViewBag.PhotoReviews)
        {
            <div class="panel panel-default">

                <div class="panel-heading">

                    <p style="float:right">@review.ReviewDate</p>

                    <p>Username: @review.ApplicationUser.UserName</p>

                </div>
                <div class="panel-body">
                    <div class="col-md-2">
                        @{
                            switch (review.Note)
                            {
                                case 0:
                                    <text>
                                        <h5 style="margin: 20px;">☆☆☆☆☆ (@review.Note)</h5>
                                    </text>
                                    break;
                                case 1:
                                    <text>
                                        <h5 style="margin: 20px;">⭐☆☆☆☆ (@review.Note)</h5>
                                    </text>
                                    break;
                                case 2:
                                    <text>
                                        <h5 style="margin: 20px;">⭐⭐☆☆☆ (@review.Note)</h5>
                                    </text>
                                    break;
                                case 3:
                                    <text>
                                        <h5 style="margin: 20px;">⭐⭐⭐☆☆ (@review.Note)</h5>
                                    </text>
                                    break;
                                case 4:
                                    <text>
                                        <h5 style="margin: 20px;">⭐⭐⭐⭐☆ (@review.Note)</h5>
                                    </text>
                                    break;
                                case 5:
                                    <text>
                                        <h5 style="margin: 20px;">⭐⭐⭐⭐⭐ (@review.Note)</h5>
                                    </text>
                                    break;
                            }
                        }
                    </div>

                    <p>@review.Text</p>

                    @*  @using (Html.BeginForm(actionName: "Details", controllerName: "PhotoReview", method: FormMethod.Get, routeValues: new { id = review.PhotoReviewId }))
                        {
                            <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Details</button>
                        }*@
                    @if (review.ApplicationUser.UserName == User.Identity.GetUserName() && ViewBag.Competition.EndDate > DateTime.Now)
                    {
                        using (Html.BeginForm(actionName: "Edit", controllerName: "PhotoReview", method: FormMethod.Get, routeValues: new { id = review.PhotoReviewId }))
                        {
                            <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Edit</button>
                        }
                        using (Html.BeginForm(actionName: "Delete", controllerName: "PhotoReview", method: FormMethod.Post, routeValues: new { id = review.PhotoReviewId }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Delete</button>
                        }
                    }
                </div>
            </div>
        }
    }

</div>