@model ForAnimalsApplication.Models.PhotoCompetitor
@{
    ViewBag.Title = "New PhotoCompetitor";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("New", "PhotoCompetitor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.PhotoCompetitorId)
    @Html.HiddenFor(a => a.CompetitionId)

    @Html.Label("Name", "AnimalName: ")
    <br />
    @Html.TextBoxFor(a => a.Name, null, new
    {
        placeholder = "Type in the animal's name",
        @class = "form-control"
    })

    @Html.ValidationMessageFor(a => a.Name, "", new { @class = "text-danger" })
    <br />
    @Html.Label("MicrochipNumber", "Numar Microcip: ")
    <br />
    @Html.TextBoxFor(a => a.MicrochipNumber, null, new
    {
        placeholder = "Type in the microcip's name",
        @class = "form-control"
    })

    @Html.ValidationMessageFor(a => a.MicrochipNumber, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Age", "Varsta animal :")
    <br />
    @Html.DropDownListFor(a => a.Age, new SelectList(Model.AgeList, "Value", "Text"), "Alege varsta", new { @class = "form-control" })
    @Html.ValidationMessageFor(a => a.Age, "", new { @class = "text-danger" })
    <br />


    @Html.Label("Description", "Description: ")
    <br />
    @Html.TextArea("Description", null, new
    {
        placeholder = "Type in the competitor's description",
        @class = "form-control",
        @rows = "10"
    })

    @Html.ValidationMessageFor(a => a.Description, "", new { @class = "text-danger" })
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(a => a.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="ImageFile" required />
        </div>
        @Html.ValidationMessageFor(a => a.ImagePath, "", new { @class = "text-danger" })
    </div>
    <br />


    <button class="btn btn-primary" type="submit">Create</button>
}


